---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Johan Mancebo , Backend Developer y DevOps.
        <br />
        My start principal:
      </p>
      <ul class="list-disc list-inside">
        <li>Java y spring boot</li>
        <li>Python y Django</li>
        <li>php y Laravel</li>
        <li>Nodejs y Express</li>
        <li>power shell ,firebase y Prisma</li>
        <li>Docker, Google Cloud</li>
        <li>git, github y github Action</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Desarrollo Escalable y a la medida.
    </p>
  </div>
</Card>
